body, html {
	font-family: Poppins-Regular, sans-serif;
	  background: linear-gradient(to bottom, #D3D3D3 0%, #778899 100%);
    min-height: 100vh;
}
/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

/*---------------------------------------------*/
button, .input-btn{
	border: none;
	background: transparent;
}

button:hover, .input-btn:hover {
	cursor: pointer;
}
 .input-btn{
color: green; }


.container-login100 {
  width: 100%;  
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.infopage {
  width: 100%;  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.wrap-login100 {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 95%;
  position: relative;
}

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #333333;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 55px;
  padding: 0 0 0 20px;
  border-radius: 5px;
}



/*------------------------------------------------------------------
[ Button ]*/


.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;

}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #4B0082;
  top: 0;
  left: -100%;
}

.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  
  line-height: 1.2;
  text-transform: uppercase;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}
