/*[ FONT SIZE ]
///////////////////////////////////////////////////////////
*/

/*[ PADDING ]
///////////////////////////////////////////////////////////
*/
.p-t-65 {padding-top: 65px;}
.p-b-49 {padding-bottom: 49px;}
.p-b-54 {padding-bottom: 54px;}

.p-l-55 {padding-left: 55px;}
.p-r-55 {padding-right: 55px;}
/*[ MARGIN ]
///////////////////////////////////////////////////////////
*/
.m-b-23 {margin-bottom: 23px;}


