#map {
height: 100%;
max-width: 100%;
border: 2px solid black;
}
html, body {
  height: 94%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #D3D3D3 0%, #778899 100%);
}

.navbar{
  background-color:transparent;
  overflow:auto;
}
.navbar-nav{
  margin-left: 260px; 
}
.navbar a{
  float:left;
  display:block;
  color:#f2f2f2;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px;
}

.navbar ul{
  margin:8px 0 0 0;
  list-style:none;
}


.side-nav-acc, .side-nav-set, .side-nav-notif, .side-nav-search, .side-nav-nearby, .side-nav-invite, .side-nav-help{
  height: 100%;
  width: 0;
  position:fixed;
  z-index:10;
  top:0;
  left:0;
  background-color:black;
  overflow: auto;
  padding-top:60px;
  transition:0.5s;
  background: linear-gradient(to bottom, #D3D3D3 0%, #778899 100%);
}
.side-nav-acc a, .side-nav-set a, .side-nav-notif a, .side-nav-search a, .side-nav-nearby a, .side-nav-invite a, .side-nav-help a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  display:block;
  transition:0.3s;
}

.side-nav-acc a:hover, .side-nav-set a:hover, .side-nav-notif a:hover, .side-nav-search a:hover, .side-nav-nearby a:hover, .side-nav-invite a:hover, .side-nav-help a:hover{
  color:#fff;
}
.side-nav-acc .img-name-container{
  background-color: transparent;
}
.image{
  width: 50%;
  height: 50%;
  margin-left:  25%;
}
.side-nav-acc .choices-container{
  font-size: 10px;
}
.side-nav-set .setting-choices-container{
  font-size: 10px;
}
.side-nav-notif .notification-choices-container{
  font-size: 10px;
}
.side-nav-search .search-choices-container{
  font-size: 10px;
}
.side-nav-nearby .nearby-choices-container{
  font-size: 10px;
}
.side-nav-invite .invite-choices-container{
  font-size: 10px;
}
.side-nav-help .help-choices-container{
  font-size: 10px;
}
.side-nav-acc #username{
  color: black;
  font-size: 25px;
  text-align: center;
  border-bottom:  2px solid black;
}


.side-nav-acc .btn-close-acc, .side-nav-set .btn-close-set, .side-nav-notif .btn-close-notif, .side-nav-search .btn-close-search, .side-nav-nearby .btn-close-nearby, .side-nav-invite .btn-close-invite, .side-nav-help .btn-close-help{
  position:absolute;
  top:0;
  right:22px;
  color: white;
  font-size:36px;
  margin-left:50px;
  background: transparent;
}
/*.side-nav-set .btn-close-set{
  position:absolute;
  top:0;
  right:22px;
  color: white;
  font-size:36px;
  margin-left:50px;
  background: transparent;
}*/
.btn-close-acc:hover, .btn-close-set:hover, .btn-close-notif:hover{
  background: transparent;  
}


@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
  /*.open-slide{display:none}*/
}
